@page "/"

<h3>Welcome to S3.</h3>
<MatSelect Label="Term*" Required="true" Enhanced="true">
    <MatOption Value="1">First Term</MatOption>
    <MatOption Value="2">Second Term</MatOption>
    <MatOption Value="3">Third Term</MatOption>
</MatSelect>