@inherits LayoutComponentBase
@inject AppUser AppUser

<MatAppBarContainer>
    <MatToastContainer />

    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatIconButton Icon="menu" @onclick="ToggleNavMenu"></MatIconButton>
                <MatAppBarTitle><a class="navbar-brand text-white" href="">S3 Web UI</a></MatAppBarTitle>
            </MatAppBarSection>
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                <NavLink class="text-white nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>

                @if (AppUser.IsSignedIn)
                {
                    <NavLink class="text-white nav-link" href="" Match="NavLinkMatch.All">@AppUser.Username</NavLink>
                    <NavLink class="text-white nav-link" href="" Match="NavLinkMatch.All" @onclick="AppUser.SignOutAsync">Log out</NavLink>
                }
                else
                {
                    <NavLink class="text-white nav-link" href="login" Match="NavLinkMatch.All">Log in</NavLink>
                }
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>

    <MatAppBarContent>
        <MatDrawerContainer Style="width: 100vw; height: 100vh;">
            @if (AppUser.IsSignedIn)
            {
                <MatDrawer @bind-Opened="_navDrawerOpened">
                    <NavMenu />
                </MatDrawer>
            }

            <MatDrawerContent>
                <div class="container">
                    <div class="mat-elevation-z5">
                        @Body
                    </div>
                </div>
            </MatDrawerContent>
        </MatDrawerContainer>
    </MatAppBarContent>
</MatAppBarContainer>

@code {

   protected override async Task OnInitializedAsync()
    {
       if(!AppUser.IsSignedIn)
        {
            await AppUser.InitializeAsync();
        }
    }

    bool _navDrawerOpened = true;

    void ToggleNavMenu()
    {
        _navDrawerOpened = !_navDrawerOpened;
    }
}



@*@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>*@
